<Style>
.toggle-box {
  display: none;
}

.toggle-box + label {
font-size:100%;  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
  font-size: 300%;}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "-";
}
img{width:80px;height:50px;}img:active {
   position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 25%;
  min-height: 50%;  }
* {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}</style>
 <link rel="stylesheet" type="text/css" href="style.css"><center>Test Execution Date : 2017-04-19:12.29.14 <br> <hr><h3>Test Statistics</h3>Total Number Tests  = 2<br>Number of Failed Tests  = 0<br>Number of Passed Tests  = 100.0%<br><h3>Tests</h3><hr>Pass Percentage         = </center><body background="../../BackgroundWallpaper/it.jpg"><div id="page">
        

<input class="toggle-box" id='identifier-0' type="checkbox">
<label for='identifier-0'> Running method is :Add Test Status :-> <i> <font color= 'Green'> Test Passed </font></i></label>
 <div>

 <table style="width:90%">
  <tr>
    <td bgcolor=''>Test Results</td>
    <td bgcolor=''>Image Captured</td>
    <td>Status Message</td>
  </tr>
<tr bgcolor= 'Lime'><td>Add Passed </td><td> <img class = 'enlarge' src='Add//0-Add Passed.jpg'/></td><td>Pass</td></tr>

</table> 

</div>
 <hr color='Red'><input class="toggle-box" id='identifier-1' type="checkbox">
<label for='identifier-1'> Running method is :Subtract Test Status :-> <i> <font color= 'Green'> Test Passed </font></i></label>
 <div>

 <table style="width:90%">
  <tr>
    <td bgcolor=''>Test Results</td>
    <td bgcolor=''>Image Captured</td>
    <td>Status Message</td>
  </tr>
<tr bgcolor= 'Lime'><td>Subtract Passed </td><td> <img class = 'enlarge' src='Subtract//1-Subtract Passed.jpg'/></td><td>Pass</td></tr>

</table> 

</div>
 <hr color='Red'>


</div> </body>
