  table{
	color: #333;
    font-family: Consolas, monaco, monospace;
	width: 800px;
	border-collapse:
	collapse; border-spacing: 0;
	-moz-box-shadow: 1px 1px 3px 2px #3d3d3d;
	-webkit-box-shadow: 1px 1px 3px 2px #3d3d3d;
	box-shadow:         1px 1px 3px 2px #3d3d3d;
	background-color:#C2BFA5;
	border-left:1px solid #E1E0D2;
	border-top:1px solid #E1E0D2;
	border-right:1px solid #8D8961;
	border-bottom:1px solid #8D8961;
	border-radius:10px;
}
td 
{
	text-align: center;

	border-left:1px solid #E1E0D2;
	border-top:1px solid #E1E0D2;
	border-right:1px solid #8D8961;
	border-bottom:1px solid #8D8961;
}

b
{
    font-family: Consolas, monaco, monospace;
	
}

#details2
{
  position: relative;
  left: 50%;
  top: auto;  line-height :1.7;
  height : auto;

    font-family: Consolas, monaco, monospace;
  color:black;
  font-size:	15px;
  border-radius: 15px;
  border: 1px solid #c5c1c0;
  background-color: #FFD700;
  display: flex;
  padding: 24px 15px;
  border-radius :4px;box-shadow: 10px 10px;  
 }
#detailsL
{
    position: relative;
    left: 50%;
    top: auto;  line-height :1.7;
    height : 150px;
  
       font-family: Consolas, monaco, monospace;
	color:black;
	font-size:	15px;
    border-radius: 15px;
    border: 1px solid #c5c1c0;  
    display: flex; 
    padding: 24px 15px;
    border-radius :4px;box-shadow: 10px 10px;   
	background-color: #00FA9A;
}
#infor
 {
	  clear:Right;
	  border: 1px solid #c5c1c0;
	  border-radius: 15px; 
	  background-color:white;
	   width:300px;
	  font-family: Consolas, monaco, monospace;
 }
 
 
 #Stats
 {
	  position: relative;
	  left: 20%;
	  border: 1px solid #c5c1c0;
	  border-radius: 15px; 
	  width:300px; 
	

	  background-color:white;
	  font-family: Consolas, monaco, monospace;
}
  
 body 
 {  
		background : #CD5C5C;display: inline-block;
		margin: 0px auto;
		text-align: center;
		
 }
 hr
 {
	box-shadow:1px 1px 3px 2px #3d3d3d;
 }
