 table{
	color: #333;
	font-family: Helvetica, Arial, sans-serif;

	border-collapse:
	collapse; border-spacing: 0;
	-moz-box-shadow: 1px 1px 3px 2px #3d3d3d;
	-webkit-box-shadow: 1px 1px 3px 2px #3d3d3d;
	box-shadow:         1px 1px 3px 2px #3d3d3d;
	background-color:#C2BFA5;
	border-left:1px solid #E1E0D2;
	border-top:1px solid #E1E0D2;
	border-right:1px solid #8D8961;
	border-bottom:1px solid #8D8961;
	border-radius:10px;
}
td {
	text-align: center;

	border-left:1px solid #E1E0D2;
	border-top:1px solid #E1E0D2;
	border-right:1px solid #8D8961;
	border-bottom:1px solid #8D8961;
}body {background-color:#EDE9FF;display: inline-block;
    margin: 0px auto;
    text-align: center;}hr{box-shadow:1px 1px 3px 2px #3d3d3d;}
